$breakpoint-1: 1200px;
.fiszka-box {
    display: grid;
    gap: 2px;
}
@media (max-width: #{$breakpoint-1 - 1px}) {
    .fiszka-box {
        grid-auto-flow: row;
    }
}

@media (min-width: #{$breakpoint-1}) {
    .fiszka-box {
        grid-auto-flow: column;
    }
}


.karta{
    background-color: rgba(240, 248, 255, 0.397);
    margin: 6px;
    padding: 10px;
    border-radius: 25px;
    //display: ;
}